// SPDX-License-Identifier: (GPL-2.0-only OR MIT)
// Copyright (C) 2025 Arm Ltd.

/dts-v1/;

#include "sun60i-a733.dtsi"

#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Radxa A7A";
	compatible = "radxa,cubie-a7a", "allwinner,sun60i-a733";

	aliases {
		serial0 = &uart0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	reg_vcc5v: vcc5v {
		/* board wide 5V supply from the USB-C connector */
		compatible = "regulator-fixed";
		regulator-name = "vcc-5v";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
	};

	reg_usb_vbus: vbus {
		compatible = "regulator-fixed";
		regulator-name = "usb-vbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		vin-supply = <&reg_vcc5v>;
		gpio = <&r_pio 0 2 GPIO_ACTIVE_HIGH>;	/* PL2 */
		enable-active-high;
	};
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_pb_pins>;
	status = "okay";
};

&mmc0 {
	bus-width = <4>;
	status = "okay";
};

&mmc2 {
	bus-width = <8>;
	cap-mmc-hw-reset;
	mmc-ddr-1_8v;
	mmc-hs200-1_8v;
	non-removable;
	vmmc-supply = <&reg_cldo5>;
	vqmmc-supply = <&reg_swout2>;
	status = "okay";
};

&usb_otg {
	dr_mode = "peripheral";
	status = "okay";
};

&usbphy {
	usb0_vbus-supply = <&reg_vcc5v>;
	usb1_vbus-supply = <&reg_usb_vbus>;
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&gmac0 {
	phy-mode = "rgmii-id";
	phy-handle = <&ext_rgmii1_phy>;
	phy-supply = <&reg_swout1>;

	tx-internal-delay-ps = <1200>;
	rx-internal-delay-ps = <1000>;

	status = "okay";
};

&mdio0 {
	ext_rgmii1_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
		reset-gpios = <&pio 7 16 GPIO_ACTIVE_LOW>; /* PH16 */
		reset-assert-us = <10000>;
		reset-deassert-us = <150000>;
	};
};

&r_i2c0 {
	status = "okay";

	axp318w: pmic@36 {
		compatible = "x-powers,axp318w";
		reg = <0x36>;
		#interrupt-cells = <1>;
		interrupt-controller;
		interrupt-parent = <&nmi_intc>;
		interrupts = <0 IRQ_TYPE_LEVEL_LOW>;
		status = "okay";

		vin1-supply = <&reg_vcc5v>;
		vin2-supply = <&reg_vcc5v>;
		vin3-supply = <&reg_vcc5v>;

		regulators {
			reg_dcdc1: dcdc1 {
				regulator-always-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1160000>;
				regulator-name = "vdd-cpul";
			};

			reg_swout1: swout1 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vdd-swout1";
			};

			reg_swout2: swout2 {
				regulator-always-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vdd-swout2";
			};

			aldo1 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-mipi-dsi";
			};

			/* Supplies the SYSFB */
			reg_dcdc2_323: dcdc2 {
				regulator-always-on;
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <800000>;
				regulator-name = "vdd-sys";
			};

			/* Supplies the "big" cluster (1.8 GHz cores) */
			reg_dcdc3_323: dcdc3 {
				regulator-always-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd-cpub";
			};

			/* DCDC4 is polyphased with DCDC1 */

			/* Supplies the "small" cluster (1.8 GHz cores) */
			reg_dcdc5_323: dcdc5 {
				regulator-always-on;
				regulator-min-microvolt = <800000>;
				regulator-max-microvolt = <1000000>;
				regulator-name = "vdd-cpul";
			};

			reg_cldo1: cldo1 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-pm";
			};

			reg_cldo2: cldo2 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-hdmi";
			};

			reg_cldo3: cldo3 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-dram";
			};

			reg_cldo4: cldo4 {
				/* not connected */
			};

			reg_cldo5: cldo5 {
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-name = "vcc-pc";
			};
		};
	};
};
